.movie-card-list {
  display: flex;
  flex-direction: column;
}

.movie-card-list__items {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.movie-card-list__btn {
  margin: 0 auto;
  margin-top: 50px;
  min-height: 36px;
  min-width: 240px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #2F2F2F;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .movie-card-list__btn {
    min-width: 320px;
  }
}

.movie-card-list__btn:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.movie-card-list__btn_type_disable {
  display: none;
}

@media screen and (min-width: 768px) {
  .movie-card-list__items {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 14px;
    row-gap: 35px;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .movie-card-list__items {
    column-gap: 28px;
    row-gap: 32px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (min-width: 1240px) {
  .movie-card-list__items {
    grid-template-columns: repeat(3, 1fr);
  }
}