.profile {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}

@media screen and (min-width: 520px) {
  .profile__container {
    max-width: 410px;
    margin: 0 auto;
    padding-top: 236px;
}}

.profile__button {
  margin: 0 auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  font-weight: 400;
}

.profile__button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .profile__button {
    font-size: 13px;
  }
}

.profile__button_type_disable {
  margin-top: 240px;
  min-height: 45px;
  min-width: 260px;
  border-radius: 3px;
  cursor: auto;
  background-color: #F8F8F8;
  font-size: 12px;
  line-height: 1.25;
  color: #C2C2C2;
  font-weight: 400;
}

.profile__button_type_disable:hover {
  opacity: 1;
  transition: none;
}

.profile__button_type_valid {
  margin-top: 240px;
  min-height: 45px;
  min-width: 260px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #4285F4;
  color: #fff;
}

.profile__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 70px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 520px) {
  .profile__title {
    padding-top: 236px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__title {
    padding-top: 74px;
  }
}

.profile__input-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  border: none;
  padding-top: 80px;
  max-width: 410px;
}

@media screen and (min-width: 520px) {
  .profile__input-form {
    padding-top: 96px;
  }
}

.buttons__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 520px) {
  .buttons__container {
    padding-top: 210px;
  }
}

.profile__input-form-label {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}

.profile__input-form-label:last-of-type {
  border-bottom: none;
}

.profile__input-error {
  margin: 0;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 500;
  color: #EE3465;
  padding-top: 10px;
}

.profile__input-error:last-of-type {
  padding: 0;
}

.errors__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

.profile__input-error_type_info {
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  color: #EE3465;
  padding-top: 60px;
  text-align: center;
}

.profile__input-error_type_info:last-of-type {
  padding-top: 10px;
}

.profile__input-text {
  margin: 0;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  text-align: right;
  width: 55vw;
}

@media screen and (min-width: 520px) {
  .profile__input-text {
    width: 40vw;
  }
}

.profile__input-name {
  margin: 0;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  padding-top: 20px;
}

.profile__link {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.21;
  font-weight: 500;
  color: #EE3465;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile__link:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .profile__link {
    font-size: 13px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__link {
    font-size: 13px;
  }
}