.page {
  background-color: #202020;
  min-height: 100vh;
  font-family: "Inter", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .page__container {
    max-width: 768px;
    margin: 0 80px;
  }
}

@media screen and (min-width: 1024px) {
  .page__container {
    max-width: 880px;
    margin: 0 150px;
  }
}

@media screen and (min-width: 1280px) {
  .page__container {
    margin: 0 auto;
  }
}
