.logo {
  background-image: url('../../images/logo.svg');
  width: 38px;
  height: 38px;
  display: block;
  background-repeat: no-repeat;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .logo {
    margin: 0;
  }
}

.logo:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}