.menu__list {
  display: grid;
  list-style: none;
  padding: 0;
  transition: all 0.5s;
  margin: 0;
  padding-top: 144px;
}

.menu__item {
  padding: 12px;
  margin: auto;
}

.menu__link {
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  font-weight: 500;
  padding-top: 30px;
  transition: all 0.5s;
}

.menu__link_type_active {
  border-bottom: solid 2px #fff;
}

.link_type_account {
  font-size: 14px;
  line-height: 1.14;
  padding: 0;
  align-self: center;
}

.menu__link:hover {
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.menu__btn {
  display: grid;
  justify-content: end;
  background-image: url('../../images/acc_pic.svg');
  margin: 0 auto;
  margin-top: 267px;
  min-width: 100px;
  min-height: 32px;
  border: 2px solid #AAAAAA;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 10% 40%;
}