.search-form {
  margin: 0;
  background-color: #202020;
  padding-top: 81px;
  padding-left: 14px;
  padding-right: 14px;
}

.search-form__container {
  border-bottom: 1px solid #424242;
}

.search-form__input-form {
  display: flex;
  flex-direction: row;
  margin: 0;
  border: none;
  justify-content: space-between;
}

.search-form__input-form-label {
  display: contents;
}

.search-form__input-text {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 4px;
  background-color: #2F2F2F;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  flex: auto;
}

.search-form__button {
  margin: 0;
  margin-left: 10px;
  min-height: 44px;
  min-width: 70px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background-color: #4285F4;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  font-weight: 500;
}

.search-form__button:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

.search-form__checkbox {
  display: flex;
  justify-content: center;
  padding-top: 44px;
  padding-bottom: 43px;
}

.search-form__span {
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  padding-left: 13px;
}

/* ___________________________________ */

.switch input
{
  display: none;
}

.switch 
{
  display: inline-block;
  width: 40px; /*=w*/
  height: 20px; /*=h*/
  margin: 0;
  position: relative;
}

.slider
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #424242, 0 0 4px #A0A0A0;
  background-color: #424242;
  cursor: pointer;
  border: 1px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before
{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #A0A0A0;
  border-radius: 20px;
  transform: translateX(-20px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before
{
  transform: translateX(20px); /*translateX(w-h)*/
  background-color: #2BE080;
}

input:checked + .slider
{
  box-shadow: 0 0 0 1px #2BE080, 0 0 8px #2BE080;
}