.burger-menu {
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
  display: none;
}

.burger-menu_type__visible {
display: block;
}

@media screen and (min-width: 1024px) {
  .burger-menu_type__visible {
    display: none;
  }
}

.burger-menu__toggler {
  z-index: 5;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
}

.burger-menu__hamburger {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu__hamburger-btn {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  height: 2px;
  width: 60%;
  transition: all  0.4s ease;
}

.burger-menu__hamburger-btn::before,
.burger-menu__hamburger-btn::after {
  content: '';
  position: absolute;
  top: -10px;
  background: white;
  width: 100%;
  height: 2px;
  transition: all  0.4s ease;
}

.burger-menu__hamburger-btn::after {
  top: 10px;
}

.burger-menu__toggler:checked + .burger-menu__hamburger > .burger-menu__hamburger-btn {
  background: rgba(0,0,0,0);
}

.burger-menu__toggler:checked + .burger-menu__hamburger > .burger-menu__hamburger-btn::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu__toggler:checked + .burger-menu__hamburger > .burger-menu__hamburger-btn::after {
  top: 0;
  transform: rotate(135deg);
}

@media screen and (min-width: 768px) {
  .burger-menu__toggler:checked ~ .burger-menu__blur {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: fixed;
    margin-top: -18px;
    margin-left: -30px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.menu {
  width: 100vh;
  height: 100vh;
  background-color: #202020;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: 3;
  margin-top: -18px;
}

.burger-menu__toggler:checked ~ .menu {
  width: 100%;
  transform: translateX(0);
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .burger-menu__toggler:checked ~ .menu {
    width: 70%;
  }
}

.menu__list {
  display: grid;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  transition: all 0.5s;
  margin: 0;
  padding-top: 144px;
}

.menu__item {
  padding: 12px;
  margin: auto;
}

.menu__link {
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  font-weight: 500;
  padding-top: 30px;
  transition: all 0.5s;
}

.link_type_account {
  font-size: 14px;
  line-height: 1.14;
  padding: 0;
  align-self: center;
}

.menu__link:hover {
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.menu__btn {
  display: flex;
  justify-content: end;
  background-image: url('../../images/acc_pic.svg');
  margin: 0;
  margin-top: 267px;
  min-width: 100px;
  min-height: 32px;
  border: 2px solid #AAAAAA;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 10% 40%;
}