.burger-menu {
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
  display: none;
}

.burger-menu_type__visible {
display: block;
}

@media screen and (min-width: 1024px) {
  .burger-menu_type__visible {
    display: none;
  }
}

.burger-menu__toggler {
  z-index: 5;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
}

.hamburger {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger__btn {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  height: 2px;
  width: 60%;
  transition: all  0.4s ease;
}

.hamburger__btn::before,
.hamburger__btn::after {
  content: '';
  position: absolute;
  top: -10px;
  background: white;
  width: 100%;
  height: 2px;
  transition: all  0.4s ease;
}

.hamburger__btn::after {
  top: 10px;
}

.burger-menu__toggler:checked + .hamburger > .hamburger__btn {
  background: rgba(0,0,0,0);
}

.burger-menu__toggler:checked + .hamburger > .hamburger__btn::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu__toggler:checked + .hamburger > .hamburger__btn::after {
  top: 0;
  transform: rotate(135deg);
}

.menu {
  width: 100vh;
  height: 100vh;
  background-color: #202020;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: 3;
  margin-top: -18px;
}

.burger-menu__toggler:checked ~ .menu {
  width: 100%;
  transform: translateX(0);
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .burger-menu__toggler:checked ~ .menu {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu__toggler:checked ~ .burger-menu__blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
    transition: all 0.5s;
  }
}

.menu__list {
  display: grid;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  list-style: none;
  padding: 0;
  transition: all 0.5s;
  margin: 0;
  padding-top: 144px;
}

.burger-menu__toggler:checked ~ .menu > .menu__list {
  visibility: visible;
  transition: all 0.5s;
}

.menu__item {
  padding: 12px;
}