.about-project {
  margin: 0;
  background-color: #202020;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 70px;
}

.about-project__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .about-project__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about-project__title {
  border-bottom: 1px solid #DADADA;
  font-size: 18px;
  line-height: 1.57;
  color: #fff;
  margin: 0;
  font-weight: 400;
  min-height: 22px;
  text-align: left;
  padding-bottom: 28px;
}

.about-project__list {
  margin: 0;
  padding-left: 0;
  padding-bottom: 56px;
}

.about-project__list:last-of-type {
  padding-top: 0;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .about-project__list:last-of-type {
    padding-left: 20px;
    padding-bottom: 110px;
  }
}

.about-project__items {
  list-style: none;
  font-size: 18px;
  line-height: 1.57;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.about-project__item {
  margin: 0;
  padding-bottom: 16px;
}

.about-project__span-accent {
  margin: 0;
  font-size: 13px;
  line-height: 1.45;
}

.about-project__plan {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
}

.about-project__time {
  margin: 0;
  min-height: 35px;
  min-width: 100px;
  background-color: #303030;
  color: #fff;
  font-size: 11px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-project__time {
    min-width: 228px;
    font-size: 14px;
  }
}

.about-project__time:first-of-type {
  background-color: #3DDC84;
  color: #000;
}

.about-project__time-description {
  margin: 0 auto;
  color: #A0A0A0;
  font-size: 13px;
  line-height: 1.23;
  font-weight: 400;
  padding-top: 10px;
}