.footer {
  margin: 0;
  background-color: #202020;
  padding-top: 79px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas:
    'footer__title footer__title'
    'footer__copyright footer__links';
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.footer__title {
  grid-area: footer__title;
  font-size: 12px;
  line-height: 1.25;
  color: #8B8B8B;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 21px;
}

@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 13px;
    line-height: 1.28;
    padding-bottom: 20px;
    margin: 0;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__links {
    grid-area: footer__links;
    flex-direction: row;
    padding-top: 20px;
  }
}

.footer__link {
  color: #fff;
  font-size: 12px;
  line-height: 1.25;
  text-decoration: none;
  margin: 0 auto;
  font-weight: 400;
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .footer__link {
    padding: 0;
    font-size: 13px;
    line-height: 1.28;
  }
}

.footer__link:not(:first-of-type) {
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .footer__link:not(:first-of-type) {
    padding-top: 0;
    padding-left: 20px;
  }
}

.footer__link:hover {
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.footer__copyright {
  color: #8B8B8B;
  font-size: 12px;
  margin: 0 auto;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    grid-area: footer__copyright;
    padding-top: 20px;
    font-size: 13px;
    line-height: 1.28;
    margin: 0;
    text-align: left;
  }
}