.login {
  margin: 0 auto;
  padding-top: 56px;
}

@media screen and (min-width: 768px) {
  .login {
    padding-top: 232px;
    max-width: 396px;
  }
}

.login__button {
  margin: 0 auto;
  margin-top: 173px;
  min-height: 46px;
  min-width: 260px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-weight: 400;
}

.login__button:hover {
  opacity: 0.85;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .login__button {
    margin-top: 216px;
    min-height: 50px;
    min-width: 358px;
    font-size: 18px;
    line-height: 21.78px;
  }
}

.login__input-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  border: none;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;

}

@media screen and (min-width: 768px) {
  .login__input-form {
    padding: 0;
    padding-top: 50px;
    max-width: 100%;
  }
}

.login__input-form-label {
  display: contents;
}

.login__input-text {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #fff;
  padding: 0;
  padding-bottom: 13px;
  border-bottom: 2px solid #ccc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}

.login__input-text:last-of-type {
  padding-top: 30px;
}

.login__link {
  margin: 0;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.login__link:hover {
  opacity: 0.85;
  transition: 0.2s ease-in-out;
}

.login__text {
  margin: 0;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  color: #fff;
  padding-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .login__text {
    line-height: 17px;
    padding-top: 15px;
  }
}

.login__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

@media screen and (min-width: 768px) {
  .login__title {
    padding-top: 40px;
  }
}