.about-me {
  margin: 0;
  background-color: #202020;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 70px;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .about-me {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.about-me__title {
  border-bottom: 1px solid #DADADA;
  font-size: 18px;
  line-height: 1.57;
  color: #fff;
  margin: 0;
  font-weight: 400;
  min-height: 22px;
  text-align: left;
  padding-bottom: 28px;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .about-me__title {
    font-size: 22px;
    line-height: 1.23;
  }
}

.about-me__container {
  margin: 0 auto;
  display: grid;
}

@media screen and (min-width: 768px) {
  .about-me__container {
    padding-top: 66px;
    padding-bottom: 90px;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
    'about-me__student-name about-me__student-photo'
    'about-me__student-description about-me__student-photo'
    'about-me__student-text about-me__student-photo'
    'about-me__student-links about-me__student-photo';
  }
}

@media screen and (min-width: 1024px) {
  .about-me__container {
    padding-bottom: 99px;
  }
}

.about-me__student-photo {
  margin-top: 60px;
  margin-bottom: 40px;
  justify-self: center;
  height: 352px;
  width: 292px;
  box-sizing: border-box;
  border-radius: 10px;
  background-image: url('../../images/student-photo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .about-me__student-photo {
    margin: 0;
    grid-area: about-me__student-photo;
    justify-self: right;
    height: 307px;
    width: 255px;
  }
}

@media screen and (min-width: 1024px) {
  .about-me__student-photo {
    height: 327px;
    width: 270px;
  }
}

.about-me__student-name {
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  font-weight: 400;
  min-height: 36px;
  text-align: left;
  padding-bottom: 20px;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .about-me__student-name {
    grid-area: about-me__student-name;
    font-size: 40px;
    line-height: 1;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .about-me__student-name {
    padding-bottom: 18px;
  }
}

.about-me__student-description {
  font-size: 11px;
  line-height: 1.45;
  color: #fff;
  margin: 0;
  font-weight: 500;
  min-height: 16px;
  text-align: left;
  padding-bottom: 20px;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .about-me__student-description {
    grid-area: about-me__student-description;
    font-size: 12px;
    line-height: 1.5;
    min-height: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .about-me__student-description {
    padding-bottom: 26px;
  }
}

.about-me__student-text {
  font-size: 11px;
  line-height: 1.45;
  color: #fff;
  margin: 0;
  font-weight: 500;
  min-height: 16px;
  text-align: left;
  padding-bottom: 40px;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .about-me__student-text {
    grid-area: about-me__student-text;
    font-size: 12px;
    line-height: 1.51;
    padding-right: 49px;
    padding-bottom: 87px;
  }
}

@media screen and (min-width: 1024px) {
  .about-me__student-text {
    padding-right: 270px;
    padding-bottom: 99px;
  }
}


.about-me__student-links {
  display: flex;
  flex-direction: row;
  min-height: 18px;
  padding-bottom: 69px;
}

@media screen and (min-width: 768px) {
  .about-me__student-links {
    padding: 0;
    grid-area: about-me__student-links;
  }
}

.about-me__student-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  margin: 0;
  font-weight: 500;
  padding-left: 26px;
}

.about-me__student-link:first-child {
  padding-left: 0;
}

.about-me__student-link:hover {
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}